@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  transition: 0.5s;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000;
  cursor: pointer;
}

button#copy-btn {
  margin-top: 5px;
  background-color: #3b97d3;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button#copy-btn:hover {
  background-color: #2380b8;
  cursor: pointer;
}
